<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ONTUI.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <ONTUI.Properties.Settings>
            <setting name="LastEnteredSLID" serializeAs="String">
                <value />
            </setting>
            <setting name="ONTIPADDRESS" serializeAs="String">
                <value>192.168.1.251</value>
            </setting>
            <setting name="ONTLOGIN" serializeAs="String">
                <value>REDACTED</value>
            </setting>
            <setting name="ONTPASS" serializeAs="String">
                <value>REDACTED</value>
            </setting>
            <setting name="ONTPORT" serializeAs="String">
                <value>23</value>
            </setting>
            <setting name="UsePopup" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="UseConsole" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="UseAutoMini" serializeAs="String">
                <value>False</value>
            </setting>
        </ONTUI.Properties.Settings>
    </userSettings>
</configuration>
